h1{
	border-bottom: 1px solid #000;
}
article{
border-bottom: 1px solid #000;
}
p{
border-bottom: 1px solid #000;
}

#top{
	border-bottom: 1px solid #000;
}
#footer{
	border-bottom: 1px solid #000;
}
